$primary-green : #18836f; 
$light-gray : #898989;

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Covered By Your Grace', cursive;
    color: $primary-green;
}

p {
   font-family: Consolas;
   font-size: 1.2em;
   margin-left: 4em;
}

p + p {
    margin-left: 70px;
}

#question_box {
    margin-bottom: 10px;
}

#plus_minus_button {
    text-align: center;
}

#input_box, #advanced_search {
    font-family: Consolas;
    font-size: 1em;
    margin-left: 1em;
    margin-top: 20px;
    width: 80%;
    height: 3em;
    padding-left: 10px; 
}

button {
    height: 3em;
    width: 5em;
    margin: 0;
}

#output {
    margin-left: 5%;
}

label {
    font-family: 'Covered By Your Grace', cursive;
    color: $primary-green;
    font-size: 1.5em;
    margin-left: 20px;
}
#input_container {
    margin-bottom: 20px;
}

#snippets div {
    font-family: Consolas;
    font-size: 1em;
    margin-left: 10%;
    margin-bottom: 1em;
}

#nav_links {
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.2em;
}
